
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fdf4e4;
    color: black;
}

.box {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}


.highlight {
    background-color: yellow;
    font-weight: bold;
}


.dashed-border {
    border: 2px dashed black;
}

.dashed-border p {
    border: 1px dashed red;
    padding: 10px;
}


.purple-border {
    border: 2px solid purple;
}

.purple-heading {
    color: purple;
}

.highlight-yellow {
    background-color: yellow;
    font-weight: bold;
}