body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    
}
h2 {
    color: orange;
}
p {
    font-size: 16px;
    color: #333;
}
.second-paragraph {
    font-style: italic;
}
.right{
    text-align: right; 

}